# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\miruh\Documents\Facultate\An3Sem2\SD_Lab\sd-2022-hw\Assignment 1\Hulpe Dalia - Miruna\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
