Assignment 2/Paltineanu Rares - Mihai/frontend/.editorconfig
Assignment 2/Paltineanu Rares - Mihai/frontend/.browserslistrc
Assignment 2/Paltineanu Rares - Mihai/frontend/src/favicon.ico
**/.idea
*.class