.profile-img-card {
  height: 30px;
  width: 30px;
}

input {
  width: auto;
}

.register-btn {
  float: right;
}

.center {
  position: absolute;
  left: 35%;
  top: 25%;
}

.title {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
