<div class="col-md-12">
    <div class="center card card-container">
      <h2 class="title">Add User</h2>
      <form
        name="form"
        (ngSubmit)="f.form.valid && addUser()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group ">
          <label>Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            [(ngModel)]="form.name"
            required
            #name="ngModel"
            pattern="[a-zA-Z ]*"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="name.errors && f.submitted"
          >
            Invalid name
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            #email="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="email.errors && f.submitted"
          >
          </div>
        </div>
        
        <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              class="form-control"
              name="roles"
              [(ngModel)]="form.roles"
              #roles="ngModel"
              pattern="[a-zA-Z ]*"
            />
            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="roles.errors && f.submitted"
            >
            </div>
          </div>

        <div class="form-group">
          <label>Roles</label>
          <input
            type="text"
            class="form-control"
            name="roles"
            [(ngModel)]="form.roles"
            #roles="ngModel"
            pattern="[a-zA-Z ]*"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="roles.errors && f.submitted"
          >
          </div>
        </div>
  
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">
            Add User
          </button>
  
          <button (click)="onCancel()" type="button" class="btn btn-secondary btn-block">
            Cancel
          </button>
  
        </div>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && addUserFailed"
          >
            Add User failed: {{ errorMessage }}
          </div>
        </div>
      </form>
    </div>
  </div>
  