<div class="toolbar">

  <label>Quantity:</label>
  <input
        type="number"
        name="name"
        [(ngModel)]="quantity"
  />
  <button id="sellBookBtn"
          type="button"
          class="btn btn-link button-secondary"
          (click)="onSellBook()"
          title="Delete book"
          [disabled]="!isBookSelected">
    Sell Book
  </button >

  <label>Filter:</label>
  <input
        type="text"
        name="filter"
        [(ngModel)]="filter"
  />
  <button id="sellBookBtn"
          type="button"
          class="btn btn-link button-secondary"
          (click)="onFilter()"
          title="Delete book">
    Filter
  </button >
  <div class="right-bar">
    <button (click)="logout()">Logout</button>
  </div>
</div>
  
  
  