<app-toolbar [grid]="grid"></app-toolbar>

<dx-data-grid id="booksGrid"
              [dataSource]="books"
              [allowColumnReordering]="true"
              [allowColumnResizing]="true"
              [columnAutoWidth]="false"
              [showBorders]="true"
              [showRowLines]="true"
              class="dx-datagrid dataGrid">

  <dxo-column-chooser mode="select"></dxo-column-chooser>

  <dxo-selection [showCheckBoxesMode]="'onClick'" mode="single"></dxo-selection>
  <dxi-column caption="ID"
            dataField="id"
            [width]="'10%'"
            dataType="number"
  ></dxi-column>

  <dxi-column caption="Name"
              dataField="name"
              [width]="'23%'"
              dataType="string"
  ></dxi-column>

  <dxi-column caption="Description"
              dataField="description"
              [width]="'23%'"
              dataType="string"
  ></dxi-column>

  <dxi-column caption="Author"
              dataField="author"
              [width]="'23%'"
              dataType="string"
  ></dxi-column>

  <dxi-column caption="Genre"
              dataField="genre"
              [width]="'23%'"
              dataType="string"
  ></dxi-column>
</dx-data-grid>
