# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# From https://github.com/github/gitignore/blob/master/Java.gitignore
*.class

# Package Files #
*.jar
*.war
*.ear