<div class="toolbar">

  <button id="addBookBtn"
    type="button"
    class="btn btn-link button-secondary"
    (click)="onAddBook()"
    title="Add book">
    <span class="dx-icon-add" aria-hidden="true"></span>
  </button>

  <button id="deleteBookBtn"
          type="button"
          class="btn btn-link button-secondary"
          (click)="onDeleteBook()"
          title="Delete book">
    Delete
  </button>

  <div class="right-bar">
    <button (click)="logout()">Logout</button>
  </div>
</div>


